<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleSummarizer"
        tools:targetApi="31">

        <!-- QuizListActivity is now the MAIN activity -->
        <activity
            android:name=".QuizListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SimpleSummarizer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Quiz Activity Declaration -->
        <activity
            android:name=".QuizActivity"
            android:label="Quiz"
            android:exported="true"
            android:theme="@style/Theme.SimpleSummarizer"/>

        <!-- MainActivity can still be accessed but won't be the launch activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SimpleSummarizer"/>

        <!-- Sentence Structure Quiz Activity -->
        <activity
            android:name=".SentenceStructureQuizActivity"
            android:label="Sentence Structure Quiz"
            android:exported="true"
            android:theme="@style/Theme.SimpleSummarizer"/>

        <!-- Tenses Quiz Activity -->
        <activity
            android:name=".TensesQuizActivity"
            android:label="Tenses Quiz"
            android:exported="true"
            android:theme="@style/Theme.SimpleSummarizer"/>

        <!-- Subject-Verb Agreement Quiz Activity -->
        <activity
            android:name=".SubjectVerbAgreementQuizActivity"
            android:label="Subject-Verb Agreement Quiz"
            android:exported="true"
            android:theme="@style/Theme.SimpleSummarizer"/>

        <!-- Active-Passive Voice Quiz Activity -->
        <activity
            android:name=".ActivePassiveVoiceQuizActivity"
            android:label="Active-Passive Voice Quiz"
            android:exported="true"
            android:theme="@style/Theme.SimpleSummarizer"/>

        <!-- Parts of Speech Quiz Activity -->
        <activity
            android:name=".PartsOfSpeechQuizActivity"
            android:label="Parts of Speech Quiz"
            android:exported="true"
            android:theme="@style/Theme.SimpleSummarizer"/>

        <!-- Placeholder activity for incomplete quizzes -->
        <activity
            android:name=".PlaceholderActivity"
            android:label="Placeholder"
            android:exported="true"
            android:theme="@style/Theme.SimpleSummarizer"/>

    </application>

</manifest>
